altair
matplotlib
numpy
# opencv_python==4.5.5.64
# opencv-python-headless
Pillow
pydicom
scipy
streamlit
# streamlit_image_comparison==0.0.2
# streamlit_lottie==0.0.3
streamlit_nested_layout
scikit_image
nibabel