altair==5.5.0
h5py==3.9.0
matplotlib==3.8.3
nibabel==5.3.2
numpy==2.2.3
pandas==1.4.4
Pillow
plotly==5.18.0
pydicom==2.3.1
PyYAML==6.0
PyYAML==6.0.2
scikit_image==0.19.3
scipy==1.15.2
SimpleITK==2.4.1
streamlit==1.41.1
streamlit_extras==0.5.5
torch==2.0.1+cu118
tqdm==4.65.2
